@charset "utf-8";
.container {
	width: 1000px;
	margin: 0 auto;
}

.logo {
	margin-top: 22px;
}

.clear {
	clear: both;
}

.word {
	font-size: 15px;
	color: #8d8d8d;
}

.relative {
	position: relative;
}

.top_logo {
	font-size: 13px;
	border-bottom: 1px solid #e52243;
	padding: 4px 0;
}

.top_logo li {
	display: inline;
	padding: 5px 15px;
	vertical-align: middle;
}

.frist {
	margin-top: 12px;
}

.frist-input-text {
	height: 33px;
	border: 2px solid red;
	margin-left: 177px;
	padding-right: 230px;
	font-size: 15px;
	color: #c0c0c0;
}

.frist-input-button {
	border: none;
	height: 37px;
	padding: 0px 30px;
	background-color: red;
	font-size: 18px;
	color: white;
	border-bottom: 2px solid red;
}

.first-over {
	border: 1px solid #e6e6e6;
	height: 30px;
	vertical-align: bottom;
	font-size: 15px;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 2px;
}

.text {
	padding-left: 300px;
	margin-top: -5px;
	font-size: 13px;
}

.secont-logo {
	margin-top: 30px;
}

.secont-logo li {
	display: inline;
	font-size: 17px;
	padding: 10px 26px 10px 26px;
}

.secont-logo a {
	color: #000000;
	font-weight: 800;
}

.line {
	border-top: 2px solid red;
	width: 100%;
	background-color: #f2f2f2;
	margin-top: 7px;
	font-size: 14px;
	padding: 10px 0px;
}

.line li {
	display: inline;
	padding-right: 10px;
}

.line-left img {
	height: 12px;
}

.line-fr {
	margin-left: 5px;
}

.line span {
	border: 1px solid #c9c9c9;
	padding: 2px 0px;
}

.img0 {
	width: 14px;
}

.thrid {
	margin-top: 10px;
}

.thrid-right {
	margin-left: 20px;
	background-color: white;
}

.thrid-frist {
	margin-top: 2px;
	color: #000000;
	font-size: 19px;
}

.thrid-right li {
	display: inline;
	padding-left: 5px;
}

.thrid-second {
	font-size: 13px;
	color: #d81d4a;
	margin-top: 10px;
}

.thrid-three {
	background-color: #e6e4e5;
	margin-top: 10px;
}

.thrid-left-bottom li {
	margin-right: 6px;
	font-size: 14px;
}

.img1 {
	margin-left: 5px;
	margin-top: 5px;
}

.text1 {
	font-size: 15px;
	color: #000000;
	margin-left: 25px;
	margin-top: 8px;
}

.word4 {
	font-size: 15px;
	color: #9c9c9c;
	margin-left: 5px;
}

.thrid-three-one {
	margin-top: 5px;
}
.thrid-three-two {
	color: red;
	font-size: 16px;
}
.thrid-three-th {
	color: #979797;
	font-size: 16px;
	text-decoration: line-through;
}
.thrid-text {
	font-size: 15px;
	margin-left: 260px;
}

.thrid-text>img {
	margin-top: 8px;
}

.thrid-text2 {
	font-size: 14px;
	margin-left: 330px;
	color: #676767;
}

.img2 {
	margin-left: 20px;
}

.word3 {
	font-size: 15px;
	color: #000000;
	margin-left: 20px;
	margin-bottom: 10px;
}

.thrid-four {
	margin-top: 10px;
}

.thrid-left-bottom {
	margin-top: 80px;
}

.thrid-left-bottom li {
	display: inline;
}

.thrid-six {
	margin-top: 1px;
	border-top: 1px dashed black;
}

.li-color {
	font-size: 15px;
	color: #9c9c9c;
	margin-right: 6px;
}

.img3 {
	margin-left: 5px;
}

.li-border {
	border: 1px solid #cbcbcb;
	margin-right: 10px;
	font-size: 15px;
	padding: 5px 5px;
}

.li-color-txt {
	font-size: 15px;
	color: #9c9c9c;
	margin-left: 5px;
	margin-top: 15px;
}

.div-border {
	margin-left: 12px;
	border: 1px solid #cbcbcb;
}

.thrid-six-frist {
	margin-top: 4px;
}

.thrid-six-frist-word {
	padding: 12px 10px;
	font-size: 15px;
}

.li-border select {
	border: none;
}

.thrid-eit {
	border-top: 1px dashed black;
	margin-top: 12px;
}

.thrid-eit-fi {
	margin-left: 15px;
	margin-top: 5px;
}

.counttext {
	width: 40px;
	height: 45px;
	text-align: center;
}

#conuntbtn {
	width: 25px;
	height: 24px;
	padding-left: 6px;
	background-color: #f1f1f1;
}

#conuntbtn1 {
	width: 25px;
	height: 24px;
	padding-left: 6px;
	background-color: #f1f1f1;
}

.thrid-eit-fi-over {
	background-color: red;
	color: white;
	font-size: 18px;
	margin-left: 25px;
	padding: 16px 40px;
	margin-top: 3px;
}

.thrid-eit-text {
	padding: 20px 0px;
}

.meta-left {
	font-size: 17px;
	margin-top: 10px;
	color: #313131;
	border: 1px solid #cacaca;
	width: 187px;
}

.meta-left-ul li {
	display: inline;
}

.meta-left-title {
	text-align: center;
	background-color: #eef0ff;
	padding: 9px 0;
}

.meta-left-ul a {
	color: #666670;
	font-size: 14px;
	background-color: #e2e6f1;
}

.meta-left-bottom>li {
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 8px;
}

.meta-bottom-top-f {
	margin-top: 26px;
	margin-left: 40px;
}

.meta-bottom-top-text {
	font-size: 15px;
	margin-left: 8px;
	padding-top: 3px;
	color: #000000;
}

.meta-bottom-mid {
	margin-top: 20px;
	margin-left: 30px;
}

#meta-bottom-mid-f {
	font-size: 15px;
	margin-left: 8px;
	padding-top: 3px;
	color: #000000;
}

#meta-bottom-mid-s {
	font-size: 15px;
	margin-left: 8px;
	padding-top: 3px;
	color: #7a6ca9;
}

#meta-bottom-mid-t {
	font-size: 15px;
	margin-left: 8px;
	padding-top: 3px;
	color: #000000;
	border: 1px solid #cacaca;
	padding-right: 15px;
}

.meta-bottom-bom {
	margin-top: 10px;
	margin-left: 40px;
	font-size: 14px;
	color: #858585;
}

.meta-bottom-bom-ul {
	margin-right: 22px;
}

.meta-bottom-bom-ul li {
	margin-top: 8px;
}

.meta-bottom-last a {
	margin-top: 3px;
	font-size: 13px;
}

.five-frame {
	margin-top: 20px;
	border-top: 1px solid #CBCBCB;
}

.five-frame-right {
	margin-left: 145px;
	margin-top: 55px;
}

.five-frame-top {
	padding: 13px 45px;
	font-size: 19px;
	background-color: #f7f7f7;
	border-left: 1px solid #CBCBCB;
	border-right: 1px solid #CBCBCB;
	border-bottom: 1px solid #CBCBCB;
}

.five-frame-bottom {
	border-left: 1px solid #CBCBCB;
	border-right: 1px solid #CBCBCB;
	width: 186px;
	border-bottom: 1px solid #CBCBCB;
}

.five-frame-bottom-p {
	font-size: 14px;
	margin: 5px 5px;
	line-height: 20px;
}

.price {
	font-size: 15px;
	padding-left: 5px;
	color: #e43135;
	margin-bottom: 4px;
}

.five-frame-left-btm {
	border-left: 1px solid #CBCBCB;
	border-right: 1px solid #CBCBCB;
	width: 186px;
	border-bottom: 1px solid #CBCBCB;
}

.five-frame-left-btm-t {
	padding: 11px 45px;
	font-size: 18px;
	background-color: #f7f7f7;
	border-top: 1px solid #CBCBCB;
	border-bottom: 1px solid #CBCBCB;
	margin-top: 15px;
}

.five-frame-left-btm-m {
	font-size: 14px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #CBCBCB;
	height: 35px;
}
#five-sp {
	display: inline;
	padding: 9px 7.5px;
	line-height: 35px;
}

.five-img {
	height: 83px;
	width: 163px;
	margin-top: 10px;
	margin-left: 20px;
}

.img4 {
	position: absolute;
	top: 0px;
	left: -8px;
}

.img4-text {
	font-size: 14px;
	margin: 9px 0px 15px 8px;
}

.six {
	margin-top: 30px;
}

.phont {
	width: 255px;
	border-right: 3px solid red;
	margin-right: 10px;
}

.phont1 {
	width: 180px;
	border-right: 3px solid red;
	margin-right: 10px;
}

.words {
	color: #8c8c8c;
	font-size: 14px;
}

.word1 {
	color: #000000;
	font-weight: 400;
	padding-bottom: 8px;
}

.txt {
	padding: 5px 15px 2px 10px;
}

.word2 {
	color: #000000;
	font-size: 20px;
	font-weight: 200;
	padding-bottom: 10px;
	padding-right: 20px;
}

.txt1 {
	margin-right: 60px;
	text-align: center;
	padding-top: 30px;
	width: 140px;
}

.img5 {
	padding-left: 10px;
}

.nine {
	background-color: #2f2f2f;
	height: 40px;
	margin-top: 25px;
}

.txt3 {
	text-align: center;
	color: white;
	padding-top: 10px;
	line-height: 18px;
	font-size: 14px;
}

.last {
	background-color: #424242;
	height: 55px;
	font-size: 14px;
}